<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
</head>

<body>
    <h1>Jovian Careers</h1>

    <img src="/static/jobs.jpg" alt="" , height="350px">

    <h2>About Jovian</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et officiis, saepe doloremque ipsum eligendi
        repudiandae aliquam laboriosam. Adipisci cum ipsum aliquam dolor quam fugit, dolore animi molestias praesentium
        repudiandae magni ea sunt voluptatem? Cumque facere quaerat, corrupti blanditiis dolor accusantium quasi
        laboriosam iste unde porro dolorum quos ipsam iure dolore cum, odio animi placeat non quae voluptatum nemo amet?
    </p>

    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>

    <button>Contact Us</button>
</body>

</html>